body {
    background-color: green;
}

#left {
    float: left;
    width: 25%;
    height: 600px;
    background-color: yellow;
}

#leftTop {
    float: left;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

#addContact {
    margin: 0px;
    padding: 0;
    font-size: 12px;
    color: #616161;
}

#addContactButton {
    margin: 0px;
    padding: 0;
    font-size: 12px;
    color: #616161;
}

#right {
    float: right;
    width: 75%;
    height: 500px;
    background-color: red;
}

#rightTop {
    float: right;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

#messageBox {
    float: right;
    width: 75%;
    height: 100px;
    background-color: gray;
}

#conversation {
    float: left;
    width: 100%;
    height: 80px;
    background-color: pink;
    border-bottom: 1px solid black;
}
.button {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: transparent;
    cursor: default;
}

.chat {
    width: 400px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}